In [82]:
import pandas as pd
import numpy as np 
import operator

In [42]:
r = open('data/kNN_data.txt', mode ='rt', encoding='utf-8')

In [43]:
r.readline()

'Height (in cms)\tWeight (in kgs)\tT Shirt Size\n'

In [44]:
lines = r.readlines()

In [45]:
lines

['158\t58\tM\n',
 '158\t59\tM\n',
 '158\t63\tM\n',
 '160\t59\tM\n',
 '160\t60\tM\n',
 '163\t60\tM\n',
 '163\t61\tM\n',
 '160\t64\tL\n',
 '163\t64\tL\n',
 '165\t61\tL\n',
 '165\t62\tL\n',
 '165\t65\tL\n',
 '168\t62\tL\n',
 '168\t63\tL\n',
 '168\t66\tL\n',
 '170\t63\tL\n',
 '170\t64\tL\n',
 '170\t68\tL\n']

In [50]:
group = []
labels = []
for i in range(len(lines)) :
    temp = lines[i].split('\t')
    group.append([int(temp[0]), int(temp[1])])
    labels.append(temp[2].replace('\n', ''))

In [86]:
target = [160, 62]

In [87]:
def dataset() :
    dataset = np.array(group)
    size = len(dataset)
    class_target = np.tile(target, (size, 1))
    class_category = np.array(labels)
    return dataset, class_target, class_category

In [88]:
dataset, class_target, class_category = dataset()

In [89]:
def classify(dataset, class_target, class_category, k) :
    diffMat = class_target - dataset
    sqDiffMat = diffMat ** 2
    row_sum = sqDiffMat.sum(axis = 1) 
    distance = np.sqrt(row_sum)
    
    sortDist = distance.argsort()
    
    class_result = {}
    for i in range(k) :
        c = class_category[sortDist[i]]
        class_result[c] = class_result.get(c, 0) + 1
        
    return class_result

In [90]:
class_result = classify(dataset, class_target, class_category, 3)

In [94]:
def sort(class_result) : 
    sortedClassCount = sorted(class_result.items(), key = operator.itemgetter(1), reverse = True)
    print(sortedClassCount)
    return sortedClassCount[0][0]

In [95]:
result = sort(class_result)

[('M', 2), ('L', 1)]

In [96]:
result

'M'